div {
    width: 100px;
    height: 100px;
    border: 10px solid green;
    padding: 10px;
}

.com-border-box {
    background-color: aquamarine;
    box-sizing: border-box;
}

.sem-border-box {
    background-color: brown;

}