* {
    margin-left: 10px;
}
.container {
    display: flex;
    max-width: 400px;
    border: 1px solid rgb(0, 0, 0);
}
.item {
     background-color: rgb(208, 173, 241);
     font-size: 20px;
     margin: 5px;
     text-align: center;

}
.justify-content .item1, .justify-content .item3 {
        width: 80px;
}