* {
  margin: 0;
  padding: 0;
}
ul {
  /*list-style-image: url(./imagens/icone.png);*/
  list-style: square inside url(./imagens/icone.png);
  background-color: orange;
  
}

ul li {
  border: 1px solid black;
  padding: 20px;
  }

  ol {
    list-style: square inside url(./imagens/icone.png);
    background-color: orange;
  }
ol li {
  border: 1px solid black;
  padding: 20px;
}